<article class="exercise-article">
  <div class="exercise-article_quote">
    <div class="svg-container_run">
      <svg class="svg-article_run">
        <use href="../img/sprite.svg#icon-run"></use>
      </svg>
    </div>

    <h3 class="article-quote_header">Quote of the day</h3>
    <div>
      <svg class="svg-quote">
        <use href="../img/sprite.svg#icon-commas"></use>
      </svg>
    </div>

    <p class="article-quote_text"></p>
    <p class="article-quote_author"></p>
  </div>
  <div class="exercise-article_image-container"><img src="" alt="" /></div>
  <div class="exercise-article_text-container">
    <div class="svg-container_training">
      <svg class="svg-training">
        <use href="../img/sprite.svg#icon-train"></use>
      </svg>
    </div>

    <h2 class="article-text_header">110 min</h2>
    <p class="article-text">Daily norm of sports</p>
    <p class="article-description">
      The World Health Organization recommends at least 150 minutes of
      moderate-intensity aerobic physical activity throughout the week for
      adults aged 18-64. However, what happens if we adjust that number to 110
      minutes every day? While it might seem like a high number to hit,
      dedicating 110 minutes daily to sporting activities may offer unparalleled
      benefits to physical health, mental well-being, and overall quality of
      life.
    </p>
  </div>
</article>
