<header class="header">
  <div class="container header-container">
    <a href="./index.html" class="logo-link">
      <svg class="site-logo" aria-label="Site logo">
        <use href="../img/sprite.svg#icon-site"></use>
      </svg>
    </a>

    <nav class="header-nav" id="headerNav">
      <div
        class="hamburger-container"
        id="menuButton"
        tabindex="0"
        role="button"
        aria-label="Menu"
        aria-expanded="false"
      >
        <div class="hamburger">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>

      <div class="nav-content" id="menuContent">
        <ul class="nav-list">
          <li class="nav-item active">
            <a class="nav-link" href="./index.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-link-favorites" href="./favorites.html"
              >Favorites</a
            >
          </li>
        </ul>

        <ul class="social-list">
          <li class="social-item">
            <a
              href="https://www.facebook.com/goITclub/"
              class="social-link"
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg class="link-svg">
                <use href="./img/sprite.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="social-item">
            <a
              href="https://www.instagram.com/goitclub/"
              class="social-link"
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg class="link-svg">
                <use href="./img/sprite.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="social-item">
            <a
              href="https://www.youtube.com/c/GoIT"
              class="social-link"
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg class="link-svg" width="20" height="20">
                <use href="./img/sprite.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="nav-anchor_container">
      <a href="#headerNav" class="nav-anchor_link">
        <svg class="nav-anchor_svg">
          <use href="./img/sprite.svg#icon-arrow-right"></use>
        </svg>
      </a>
    </div>
  </div>
</header>
