<section class="hero container">
  <div class="hero-container">
    <div class="hero-container_content">
      <svg class="hero-svg">
        <use href="../img/sprite.svg#icon-sun"></use>
      </svg>
      <h1 class="hero-header">
        Get <i style="font-family: DM Italic">Body</i> in shape, Stay healthy
      </h1>
      <p class="hero-text">
        Transform your physique and embrace a healthier lifestyle with our
        comprehensive fitness and nutrition support.
      </p>
    </div>
    <div class="hero-image"></div>
    <div class="tags-image"></div>
    <ul class="tags-list">
      <li class="tags-item"><a href="#" class="tags-link">#Sport</a></li>
      <li class="tags-item"><a href="#" class="tags-link">#Healthy</a></li>
      <li class="tags-item"><a href="#" class="tags-link">#Workout</a></li>
      <li class="tags-item"><a href="#" class="tags-link">#Diet</a></li>
    </ul>
  </div>
</section>
