:root {
  /* font-family: Inter, Avenir, Helvetica, Arial, sans-serif; */
  font-family: DM Regular, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;

  color: #242424;
  background-color: #f4f4f4;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
@font-face {
  font-family: 'DM Regular';
  src: url(/assets/DMSans-Regular.ttf) format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: 'DM Medium';
  src: url(/assets/DMSans-Medium.ttf) format('truetype');
  font-weight: 500;
}
@font-face {
  font-family: 'DM Italic';
  src: url(/assets/DMSans-Italic.ttf) format('truetype');
  font-weight: 400;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
}

main {
  flex-grow: 1;
}
main:has(.back-link) {
  text-align: center;
}
