/* Styles for Mobile devices */
.container {
  width: 90%;
  padding: 20px;
}
/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  .container {
    width: 705px;
    margin: 0 auto;
    padding: 24px 32px;
  }
}
/* Styles for Desktop devices */
@media only screen and (min-width: 1440px) {
  .container {
    width: 1376px;
    padding: 32px 32px 0 32px;
  }
}
