.hero-container_content {
  margin-bottom: 6%;
}

.hero-svg {
  width: 10vw;
  padding-top: 0.5vh;
  height: 4.6vh;
  float: left;
  margin-right: 2%;
  fill: black;
}
.hero-header {
  font-size: 2em;
  margin-bottom: 6%;
  font-weight: 400;
}
.hero-text {
  margin-bottom: 1em;
}
.hero-image {
  background-image: url('../img/hero-img_mobile.png');
  width: 100%;
  height: 29rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: aqua;
  margin-bottom: 6%;
  border-radius: 30px;
}
.tags-list {
  display: flex;
  justify-content: space-around;
}
.tags-item {
  padding: 0.1vh 3vw;
  border: 0.5px solid black;
  border-radius: 15px;
}
.tags-image {
  display: none;
}

/* Tablet */

@media screen and (min-width: 768px) {
  .hero-container {
    margin-bottom: 16px;
  }
  .hero-container_content {
    margin-bottom: 32px;
  }
  .hero-svg {
    width: 59px;
    height: 59px;
  }
  .hero-header {
    font-size: 74px;
    width: 650px;
    line-height: 74px;
    margin-bottom: 20px;
  }
  .hero-text {
    width: 528px;
    margin-bottom: 0;
    font-size: 18px;
  }
  .hero-image {
    background-image: url('../img/hero-img-tablet.png');
    height: 550px;
    border-radius: 60px;
    background-color: transparent;
    margin-bottom: 16px;
  }
  .tags-list {
    justify-content: flex-end;
    gap: 8px;
  }
  .tags-item {
    padding: 4px 16px;
  }
}

/* Styles for Desktop devices */
@media screen and (min-width: 1440px) {
  .hero-container_content {
    margin-bottom: 0;
    width: 50vw;
  }

  .hero-header {
    font-size: 74px;
    margin-bottom: 20px;
  }
  .hero-text {
    margin-bottom: 18px;
    width: 31vw;
  }
  .hero-image {
    background-image: url('../img/hero-img_desc.png');
    grid-row: 2 / 3;
    grid-column: 1 / 4;
    margin-bottom: 0;
  }
  .tags-image {
    display: block;
    grid-row: 1 / 2;
    grid-column: 3 / 4;
    background-image: url('../img/tags-image.png');
    align-self: center;
    width: 160px;
    height: 100px;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: aqua;
    border-radius: 20px;
  }
  .tags-list {
    width: 200px;
    flex-wrap: wrap;
    justify-content: space-between;
    grid-row: 1 / 2;
    grid-column: 3 / 4;
    height: 72px;
    align-self: end;
  }
  .tags-item {
    padding: 4px 16px;
    margin-bottom: 8px;
  }
  .hero-container {
    display: grid;
    grid-template-columns: 4fr 3fr 1fr;
    grid-template-rows: 1fr 1.6fr;
    gap: 32px;
    justify-items: end;
  }
}
